/*----------CSS Reset----------*/

html, body, div, h1, h2, h3, h4, h5, h6, p,
a, img, ul, li, footer, nav{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
  font-family: "PT Serif", serif;
	color: #323232;
}

/*----------Font Styles----------*/

h1, h2, nav h1, footer h1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
}

h1, h2, h3, p, a {
  font-weight: 700;
}

h3, a {
  font-size: 1em;
}

h1 {
  font-size: 1.875em;
}

h2 {
  font-size: 1.53em;
  color: #00897f;
  text-transform: uppercase;
}

h3 {
  line-height: 2em;
}

p {
  font-size: .9em;
	line-height: 2em;
}

a {
  color: #f26522;
}

nav h1 {
  font-size: 1.5em
}

nav p {
  font-family: "PT Sans", sans-serif;
  font-size: .9em;
}

footer h1 {
  font-size: 1.25em;
	color: #fff;
}

/*----------General Styles----------*/

nav, li, .profile, .contact-box {
	display: inline-block;
}

nav, .splash img {
	width: 100%;
}

li, .section, .description h1, .profile
h2, .contact-box h2, footer h1 {
	text-align: center;
}

.section {
	width: 80%;
	margin: 0 auto;
	max-width: 1200px;
}

/*----------Nav Bar----------*/

nav {
  height: 10%;
}

.nav-right {
  float: right;
}

li{
  padding: 2%;
  vertical-align: middle;
 }

 /*----------Splash Image----------*/

 .splash img {
   display: block;
   padding: 0;
   height: auto;
 }

 /*----------Store Description----------*/

.description {
  width: 60%;
  margin: 0 auto;
  max-width: 1200px;
  font-weight: 700;
}

.description h1 {
  padding: 10% 0 5% 0;
}

.description h3 {
  text-align: left;
  padding: 0 0 10% 0;
}

/*----------Cat Profiles----------*/

.profile {
  text-align: left;
  background-color: #eee;
  width: 250px;
  height: 250px;
  margin: 0 2%;
  padding: 3%;
  vertical-align: top;
}

.profile h2 {
  padding: 3% 0;
}

/*----------Cat Image Row----------*/

.section img {
  width: 25%;
  border-radius: 50%;
  margin: 5% 2% 3% 0;
}

/*----------Contact----------*/

.grey {
  background-color: #eee;
}

.contact-box {
  text-align: left;
  background-color: #fff;
  width: 250px;
  height: 130px;
  margin: 2% 5% 5% 5%;
  padding: 3%;
  vertical-align: middle;
}

.section h1 {
  padding: 3% 0;
}
.contact-box h2 {
  padding: 2% 0;
}

a {
  position: relative;
  top: -28px;
  left: 80px;
  line-height: 1.5em;
}

/*----------Footer----------*/

footer {
  background-color: #00897f;
}
footer h1 {
  font-size: 1.25em;
  color: #fff;
  margin: 0;
  padding: 5% 0;
}

/*----------Max-width 790px----------*/

@media screen and (max-width: 790px) {

  .section {
    width: 100%;
  }

  .profile {
    display: block;
    width: 100%;
    padding: 3% 0 2% 0;
    margin: 0 auto;
  }

  .profile p {
    padding: 3% 15%;
  }

  .section h1 {
    display: none;
  }

  .contact-box {
    display: inline
    text-align: center;
    padding: 3% 0 2% 0;
    background-color: #eee;
  }
}

/*----------Max-width 680px----------*/

@media screen and (max-width: 680px) {

  nav p {
    display: none
  }

  nav, li {
    display: block;
  }

  nav h1 {
    text-align: center;
    vertical-align: middle;
  }

  #cat-one, #cat-two {
    display: none;
  }

  #cat-three {
    width: 50%;
  }
}

/*----------Max Width 375px----------*/

@media screen and (max-width: 375px) {

  h1, nav h1, h2, footer h1 {
    font-size: 1em;
  }

  h3, p, a {
    font-size: .3em;
  }

  .profile {
    width: 100%;
    height: auto;
  }

  .profile p {
    padding: 5% 12%;
    margin: 0;
  }

  .contact-box {
    width: 40%;
    display: block;
    padding: 0;
    margin: 0 auto;
  }

  .contact-box h2:first-child {
    padding: 15% 0 0 0;
  }

  a {
    position: relative;
    top: -20px;
    left: 48px;
    line-height: .3em;
  }

}
